.shop-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.loading {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.collection-name {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 5px;
}

.settings-container {
    display: flex;
}

.filters, .sort-by, .items-count {
    display: flex;
    align-items: center;
    height: 20px;
    font-variant: all-petite-caps;
    font-size: 24px;
}

.labels, .sort-by {
    letter-spacing: 3px;
}

.filters {
    width: 70vw;
    padding: 20px 90px;
}

.labels {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 20px;
    position: relative;
}

span.labels {
    cursor: pointer;
}

span.labels::before {
    position: absolute;
    content: "";
    width: 0;
    height: .5px;
    bottom: -2px;
    border: .5px solid #000000;
    background: #2b2727;
    transition: all .3s ease;
    visibility: hidden;
}

span.labels:hover::before {
    width: 100%;
    visibility: visible;
}

.labels:first-child {
    margin-left: 0;
}

.reset {
    text-decoration: underline;
    text-underline-offset: .3rem;
    text-decoration-thickness: .1rem;
    cursor: pointer;
}

.all-filters-container {
    display: flex;
    align-items: center;
    padding: 20px 90px;
}

.all-filters-container > *:first-child {
    margin-left: 0;
}

.all-filters-container > *:nth-child(n + 2) {
    margin-left: 10px;
}

/*.labels:last-child {*/
/*    margin-left: 0;*/
/*}*/

.sort-by {
    justify-content: flex-end;
    width: 35vw;
    padding: 10px 60px;
}

#sort-by {
    margin-left: 20px;
    outline: none;
    border: none;
    appearance: none;
}

.items-count {
    width: 10vw;
    padding: 10px 20px;
}

.filters-container {
    position: absolute;
    top: 300px;
    left: 160px;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #e4e4e4;
    width: 300px;
    z-index: 16;
}

.filters-reset {
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    padding: 20px 10px;
}

.filters-list {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.filters-list > label {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    align-items: center;
    margin-bottom: 10px;
}

.filters-list > label > div {
    height: 15px;
    width: 15px;
}

.filters-list > label > span {
    letter-spacing: 3px;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

.items-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 40px;
    justify-items: center;
}

.item-card {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 100px 20px;
}

.item-data {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item-data > p:nth-child(1) {
    margin-left: 30px;
}

.item-data > p:nth-child(2) {
    margin-right: 30px;
}

.item-data-hidden {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item-colors {
    margin-left: 20px;
}

.item-colors, .item-sizes {
    display: flex;
    align-items: center;
}

.item-colors > div, .item-sizes > div {
    margin-left: 10px;
    height: 10px;
    width: 10px;

}

.item-colors > div {
    border: .5px solid #e4e4e4;
}

.item-sizes {
    margin-right: 30px;
}

.add-button {
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 0 30px;
}

.cards {
    padding: 10px;
    outline: 1px solid;
}

.cards:hover {
    background-color: #000000;
    color: #ffffff;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    font-weight: 100;
}

.pagination > div {
    font-size: 18px;
    padding: 10px;
}

.page-link {
    text-decoration: none;
    color: #000000;
}

.page-link:visited {
    color: #000000;
}

.enabled, .disabled, .span {
    position: relative;
}

.enabled {
    cursor: pointer;
}

.enabled::before, .span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    outline: .5px solid #e4e4e4;
    width: 100%;
}

.disabled {
    cursor: default;
}

.disabled::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 1px solid #000000;
    width: 100%;
}

.pagination-arrows {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*for mobile devices*/

@media only screen and (max-width: 600px) {
    .collection-name {
        font-size: 1.2rem;
    }

    .items-cards-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .item-card {
        width: 200px;
        height: 300px;
    }

    .item-data > p:nth-child(1) {
        margin-left: 0;
    }

    .item-data > p:nth-child(2) {
        margin-right: 0;
    }

    .add-button {
        margin: 0;
    }

    .item-sizes {
        margin: 0;
    }

    /*filters*/

    .filters, .settings-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filters {
        padding: 0 0 1rem 0;
        height: 120px;
    }

    .labels:first-child {
        margin-left: 20px;
    }

    .labels {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .sort-by {
        margin-left: 20px;
        margin-bottom: 10px;
        padding: 1rem 0 1rem 0;
    }

    #sort-by {
        margin-top: 5px;
        margin-left: 0;
    }

    .items-count {
        padding: 0;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .items-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .item-card {
        width: 200px;
        height: 300px;
    }

    .item-data > p:nth-child(1) {
        margin-left: 0;
    }

    .item-data > p:nth-child(2) {
        margin-right: 0;
    }

    .add-button {
        margin: 0;
    }

    .item-sizes {
        margin: 0;
    }

    .filters {
        padding: 10px 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 844px) {
    .items-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .item-card {
        width: 250px;
        height: 350px;
    }

    .item-data > p:nth-child(1) {
        margin-left: 0;
    }

    .item-data > p:nth-child(2) {
        margin-right: 0;
    }

    .add-button {
        margin: 0;
    }

    .item-sizes {
        margin: 0;
    }

    .filters {
        padding: 10px 20px;
    }
}

@media only screen and (min-width: 844px) and (max-width: 1180px) {
    .items-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .filters {
        width: 35vw;
    }

    .sort-by {
        width: 25vw;
        padding: 20px 24px;
    }
}