.cards-container {
    justify-content: space-between;
    display: flex;
}

.item-cards {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 40px 60px;
}

.item-cards-for-lte-3 {
    justify-content: center;
    overflow-x: hidden;
}

.empty-space {
    padding: 100px;
}


.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*NEW*/
    flex: 0 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

.card > p > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 0.3rem;
}


/*for smartphones and tablets*/
@media only screen and (max-width: 320px) {
    .cards-container {
        display: block;
        padding-top: 25px
    }

    .item-cards {
        width: 300px;
        padding: 0.5rem;
        flex-direction: column;
    }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
    .cards-container {
        display: flex;
        padding-top: 25px
    }

    .item-cards {
        width: 300px;
        padding: 0.5rem;
        flex-direction: column;
    }
}
