@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('../fonts/bebasneuecyrillic/BebasNeueCyrillic.eot');
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/bebasneuecyrillic/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebasneuecyrillic/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/bebasneuecyrillic/BebasNeueCyrillic.woff') format('woff'),
        url('../fonts/bebasneuecyrillic/BebasNeueCyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue Cyrillic';
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.34);
}

.overflow-locked {
    overflow: hidden;
}

.header, .footer {
    display: flex;
}

