.search {
    display: flex;
    align-items: center;
}

.nav-list > li {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .nav-right {
        display: flex;
        justify-content: end;
    }

    .nav-list {
        align-items: start;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .nav-right {
        display: flex;
        justify-content: end;
    }
}