timshee.store
timshee.store.pub
ЛОГОТИП.eps
test.docker-compose.yml
frontend/build
frontend/timshee/node_modules
frontend/timshee/.env
frontend/timshee/.env.development.testing
frontend/timshee/src/media/product_images
test-psql/test.*
timshee/settings.py
timshee/test.*
timshee/media
db.sqlite3*
sensible-flies
.idea
*test
*development*
notes
fs.js
package.json
package-lock.json
frontend-v2
timshee/credentials.json
*creator.sh
unstable.images*.env
unstable.creator*.yml
translator
sftp
*alpine*
.env.unstable
for_timshee
*local*
ssh-github
ssh-github.pub
load_balancer/certs/*
nginx
certbot
*.DS_Store
*/__pycache__
letsencrypt
/frontend/timshee/react.start.testserver.js