ЛОГОТИП.eps
test.docker-compose.yml
frontend/timshee/node_modules
frontend/timshee/.env
postgres-files/test.*
timshee/settings.py
timshee/test.*
timshee/media
nginx/test*
nginx/server*
timshee/db.sqlite3
timshee/db.sqlite3.bkp
# temporally
frontend/*
.idea
notes
