.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.form-title {
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.error-field {
    margin-bottom: 5px;
    padding: 1rem;
}

.forms-form {
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    background: #fff;
    z-index: 1;
}

.height-200 {
    height: 200px;
}

.height-650 {
    height: 650px;
}

.forms-form > div {
    width: 100%;
    margin-bottom: 10px;
}

.forms-form > div > label {
    display: flex;
    flex-direction: column;
}

#last-as-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#last-as-primary > span{
    text-align: center;
}

.label-text {
    margin-left: 30px;
}

.forms-form > div > label > input,
.forms-form > div > label > select {
    outline: none;
    border: none;
    border-bottom: 1px solid #e4e4e4;
}

.forms-form > div:last-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.forms-form > div:last-child > * {
    margin-top: 15px;
}

.forms-form > div:last-child > button {
    height: 40px;
    width: 120px;
    background: #fff;
    border: 1px solid #e4e4e4;
    padding: 15px;
    font-family: "Bebas Neue Cyrillic";
    letter-spacing: 3px;
    cursor: pointer;
}

.forms-form > div:last-child > button:hover {
    background: #000;
    color: #fff;
}

.forms-form > div:last-child > img {
    padding-top: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .forms-form {
        width: 250px;
    }

    .height-450 {
        height: 450px;
        overflow-y: auto;
    }
}

@media (orientation: landscape) {
    .overlay {
        overflow-y: auto;
    }
    .forms-form {
        top: 10px;
        width: 450px;
    }
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.a-start {
    align-items: flex-start;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.p-10-30 {
    padding: 10px 30px;
}

.w-100 {
    width: 100%;
}

.btn-beautiful {
    font-family: "Bebas Neue Cyrillic";
    letter-spacing: 3px;
    background: none;
    border: none;
    outline: 1px solid black;
    padding: 10px 30px;
    cursor: pointer;
}

.btn-beautiful:hover {
    background: #000;
    color: #fff;
}

.disabled {
    cursor: not-allowed;
}

.input-beautiful {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding-block: 0;
    padding: 0;
    padding-inline: 0;
}

