.orders-container {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

.order-buttons > a {
    text-decoration: none;
}

.order-button {
    text-align: center;
    padding: 10px;
    width: 180px;
    outline: 1px solid;
    cursor: pointer;
    color: #000;
}

.order-button:hover {
    background: #000;
    color: #fff;
}

.order-button:first-child {
    margin-bottom: 0.5rem;
}

.order-status-orders > span:first-child {
    margin-right: 1rem;
}

.order-img-block-detail {
    grid-template-columns: 210px 210px 210px;
    margin-bottom: 0.5rem;
}

.order-img-block-detail > div {
    width: 200px;
    border-bottom: 1px solid;
}

.order-refund-container {
    display: flex;
    justify-content: center;
}

.order-partial-refund-form {
    width: 400px;
    padding: 35px 85px;
    font-variant: all-petite-caps;
    font-size: 24px;
}

.order-refunded {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.order-partial-refund-form > form > div > label,
label[for="wrong-quantity"],
label[for="wrong-quantity-counter"] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    outline: 1px solid #000;
    letter-spacing: 1px;
    padding: 0.5rem 1.5rem;
}

label[for="wrong-quantity-counter"] {
    flex-direction: column;
}

label[for="wrong-quantity-counter"] > span {
    margin-bottom: 0.5rem;
}

label[for="wrong-quantity-counter"] > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label[for="wrong-quantity-counter"] > div > input {
    margin: 0;
}

.order-partial-refund-form > form > div > label > input,
label[for="wrong-quantity"] > input,
label[for="wrong-quantity-counter"] > input{
    margin: 0;
}

.order-partial-refund-item-button > button {
    padding: 15px;
    width: 100%;
    border: none;
    background: #fff;
    outline: 1px solid;
    letter-spacing: 3px;
    font-family: "Bebas Neue Cyrillic";
    cursor: pointer;
}

.order-partial-refund-item-button > button:hover {
    background: #000;
    color: #fff;
}

/*ORDER DETAIL*/
.order-detail-container {
    padding: 25px 75px;
    width: 700px;
}

.order-detail-info {
    border-left: 1px solid;
    display: flex;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.order-detail-item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 10px;
    width: 180px;
}

.order-refund-item {
    padding: 10px;
}

.order-refund-item > a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.order-detail-info > *:first-child {
    width: 100px;
}

.order-detail-info > *:nth-child(2) {
    margin-left: 1rem;
}

