.cart-container {
    display: flex;
    justify-content: flex-end;
}

.cart-empty-space {
    width: 100%;
    background: rgba(255, 255, 255, 0);
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 40%;
    background: #fff;
}

.cart-wide {
    width: 100%;
}

.cart-high {
    min-height: 100vh;
}

.cart-empty {
    justify-content: flex-start;
}

.cart-is-empty {
    padding-top: 150px;
    display: flex;
    height: 100%;
    justify-content: center;
    letter-spacing: 3px;
}

.cart-header, .cart-items, .cart-footer {
    padding: 25px 40px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
}

.cart-header > div {
    font-size: 24px;
    letter-spacing: 3px;
}

.cart-header > img {
    cursor: pointer;
}

.cart-items {
    height: 100vh;
    overflow-y: auto;
}

.cart-item-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    padding: 10px;
}

.cart-item-props {
    padding-left: 20px;
}

.cart-item-name, .cart-item-price, .cart-item-size, .cart-item-color, .cart-item-remove {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.cart-item-quantity {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.cart-item-quantity > div {
    width: 10px;
    height: 10px;
    padding: 10px;
    text-align: center;
}

.change-quantity {
    border-radius: 100%;
    outline: 1px solid #000;
}

.change-quantity:hover {
    background: #000;
    color: #fff;
}

.cart-item-remove {
    text-decoration: underline;
    cursor: pointer;
}



.cart-footer {
    border-top: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
}

.terms-and-conditions {
    margin-bottom: 20px;
}

.terms-and-conditions > label {
    display: flex;
    font-variant: all-petite-caps;
    font-size: 22px;
    align-items: center;
}


.cart-checkout-parent {
    text-decoration: none;
    color: #000000;
}

.cart-checkout-disabled {
    background: #e4e4e4;
    color: #7a7a7a;
    cursor: not-allowed;
}

.cart-checkout-enabled {
    cursor: pointer;
}

.cart-checkout-enabled:hover {
    background: #000;
    color: #fff;
}

.cart-checkout {
    display: flex;
    justify-content: center;
    outline: 1px solid #000;
    letter-spacing: 3px;
    padding: 10px 20px;
}



.privacy {
    text-decoration: underline;
}

#privacy {
    margin: 0 0.5rem 0 0;
}

@media only screen and (max-width: 768px) {
    .cart-item-container {
        flex-direction: column;
    }

    .cart-item-props {
        padding-left: 0;
        padding-top: 0.5rem;
    }
}