.checkout-container {
    display: flex;
    min-height: 100vh;
}

.checkout-shipping-information {
    width: 55%;
    border-right: 1px solid #e4e4e4;
}

.checkout-header-navigation, .checkout-contact > h3, .shipping-address > h3 {
    padding: 30px 30px 0 30px;
    margin: 0;
}

.shipping-address-user {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    outline: 1px solid #e4e4e4;
}

.shipping-address-user > span {
    padding: 15px 10px;
}

.checkout-contact > h3, .shipping-address > h3 {
    padding: 20px 30px 10px 30px;
}

.checkout-logo, .checkout-nav {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.checkout-nav > img {
    margin: 1.5px 0.5rem 0 0.5rem;
}

.checkout-nav > span > a {
    text-decoration: none;
}

.span-color-black , .checkout-nav > span:first-child > a  {
    color: #000000;
}

.span-color-gray {
    color: #828282;
}

.checkout-items-container {
    width: 45%;
}

.checkout-subtotal, .checkout-total {
    padding: 2rem 0 2rem 0;
    margin: 0 4rem 0 4rem;
}

.checkout-subtotal {
    border-bottom: 1px #e4e4e4 solid;
}

.checkout-total, .checkout-fees, .checkout-shipping {
    display: flex;
    justify-content: space-between;
}

.checkout-total > span:last-child {
    font-size: 24px;
}

@media only screen and (max-width: 390px) {
    .checkout-item-quantity {
        width: 20px;
        height: 20px;
        padding: 10px;
    }
}

@media only screen and (min-width: 391px) and (max-width: 767px) {
    .checkout-item-quantity {
        width: 60px;
        height: 20px;
        padding: 10px;
    }
}

@media only screen and (max-width: 820px) {
    .checkout-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .shipping-address-name {
        display: flex;
        flex-direction: column;
    }

    .checkout-shipping-information {
        width: 100%;
        border-right: none;
    }

    .checkout-items-container {
        width: 100%;
    }

    .shipping-address-form > div {
        margin-bottom: 1rem;
    }

    .shipping-address-name > label:first-child {
        margin-right: 0;
    }

    .shipping-address-name > label:last-child {
        margin-left: 0;
    }

    .shipping-address-location {
        display: flex;
        flex-direction: column;
    }

    .shipping-address-location > label:first-child,
    .shipping-address-location > label:nth-child(2) {
        margin-right: 0;
    }

    .checkout-item-image {
        width: 40px;
        height: 40px;
    }

    .checkout-item-info, .checkout-item-price {
        padding-left: 0.5rem;
    }
}